# local .envrc file
backend/.envrc

# docker-compose .env file
.env
.envrc

# backend go mod sum file
backend/go.sum

#  Local .terraform directories
**/.terraform/*
terraform/.terraform.lock.hcl

# .tfstate files
terraform/*.tfstate
terraform/*.tfstate.*

# .tfvars files
terraform/*.tfvars