# backend go mod sum file
backend/go.sum

# docker-compose .env file
.env

#  Local .terraform directories
**/.terraform/*
terraform/.terraform.lock.hcl

# .tfstate files
terraform/*.tfstate
terraform/*.tfstate.*

# .tfvars files
terraform/*.tfvars